---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: spotify
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spotify
  template:
    metadata:
      labels:
        app: spotify
    spec:
      containers:
      - name: spotify
        image: *YOURDOCKER*/k8s:latest
        ports:
        - containerPort: 3000   # Use port 3000

---
apiVersion: v1
kind: Service
metadata:
  name: spotify-service
spec:
  selector:
    app: spotify
  ports:
  - protocol: TCP
    port: 80                 # Expose port 80
    targetPort: 3000
  type: LoadBalancer
